<div #content  class="w-full h-full absolute flex flex-col p-4 md:p-2 bottom-4 overflow-scroll md:overflow-auto">
  <div class="flex flex-col w-full max-w-full md:h-full relative bg-white py-5 lg:p-5 xl:py-6 xl:px-12">

    <div class="editar-cliente-titulo w-full h-30 text-neutral700 flex items-center justify-center p-4 pt-9 md:p-4 lg:px-7 lg:pb-6 lg:pt-0">
      <p class="font-bold text-xl xl:text-2xl animate-fade-top">
        <ng-container *ngIf="isEdit">
          Editar orden de trabajo
        </ng-container>
        <ng-container *ngIf="!isEdit">
          Crear orden de trabajo
        </ng-container>
      </p>
    </div>

    <form [formGroup]="form" class="items-end grid grid-cols-1 grid-rows-7 gap-y-6 mt-4 md:mt-0 md:grid-cols-4 md:grid-rows-2 lg:gap-y-6 lg:gap-x-8 xl:gap-x-12 animate-fade-down">

      <div>
        <app-field-input [parentForm]="form" fieldName="descripcion" formControlName="descripcion" holder="Escribir requerimiento" directive="NumbersLettersDot">
          Requerimiento
        </app-field-input>
      </div>
      <div>
        <label class="block text-xs xl:text-sm 3xl:text-lg font-medium leading-6 pl-3 text-sky500 ring-sky500 focus:ring-sky500">
          Cliente
        </label>
        <div class="relative mt-1 rounded-md shadow-sm">
          <select fieldName="id_cliente" formControlName="id_cliente"
            class="block w-full rounded-3xl border-0 py-1.5 pl-4 pr-11 text-xs xl:text-sm 3xl:text-lg sm:leading-6 text-neutral700 ring-1 ring-inset placeholder:text-neutral400"
          >
            <option *ngIf="defaultValue" selected>{{ defaultValue }}</option>
            <ng-container *ngIf="listClients?.length" >
              <ng-container *ngFor="let select of listClients">
                <option [value]="select.id_cliente">
                  {{ select.nombres }}
                </option>
              </ng-container>
            </ng-container>
          </select>
        </div>
      </div>
      <div>
        <label class="block text-xs xl:text-sm 3xl:text-lg font-medium leading-6 pl-3 text-sky500 ring-sky500 focus:ring-sky500">
          Vehiculo
        </label>
        <div class="relative mt-1 rounded-md shadow-sm">
          <select fieldName="id_vehiculo" formControlName="id_vehiculo"
            class="block w-full rounded-3xl border-0 py-1.5 pl-4 pr-11 text-xs xl:text-sm 3xl:text-lg sm:leading-6 text-neutral700 ring-1 ring-inset placeholder:text-neutral400"
          >
            <option *ngIf="defaultValue" selected>{{ defaultValue }}</option>
            <ng-container *ngIf="listVehiculo?.length" >
              <ng-container *ngFor="let select of listVehiculo">
                <option [value]="select.id_vehiculo">
                  {{ select.modelo }}
                </option>
              </ng-container>
            </ng-container>
          </select>
        </div>
      </div>
      <div>
        <label class="block text-xs xl:text-sm 3xl:text-lg font-medium leading-6 pl-3 text-sky500 ring-sky500 focus:ring-sky500">
          usuario
        </label>
        <div class="relative mt-1 rounded-md shadow-sm">
          <select fieldName="id_usuario" formControlName="id_usuario"
            class="block w-full rounded-3xl border-0 py-1.5 pl-4 pr-11 text-xs xl:text-sm 3xl:text-lg sm:leading-6 text-neutral700 ring-1 ring-inset placeholder:text-neutral400"
          >
            <option *ngIf="defaultValue" selected>{{ defaultValue }}</option>
            <ng-container *ngIf="listUsuario?.length" >
              <ng-container *ngFor="let select of listUsuario">
                <option [value]="select.id_usuario">
                  {{ select.nombres }}
                </option>
              </ng-container>
            </ng-container>
          </select>
        </div>
      </div>
      <div>
        <label class="block text-xs xl:text-sm 3xl:text-lg font-medium leading-6 pl-3 text-sky500 ring-sky500 focus:ring-sky500">
          Tipo orden
        </label>
        <div class="relative mt-1 rounded-md shadow-sm">
          <select fieldName="id_tipo_orden" formControlName="id_tipo_orden"
            class="block w-full rounded-3xl border-0 py-1.5 pl-4 pr-11 text-xs xl:text-sm 3xl:text-lg sm:leading-6 text-neutral700 ring-1 ring-inset placeholder:text-neutral400"
          >
            <option *ngIf="defaultValue" selected>{{ defaultValue }}</option>
            <ng-container *ngIf="listTipoOrden?.length" >
              <ng-container *ngFor="let select of listTipoOrden">
                <option [value]="select.id_tipo_orden">
                  {{ select.descripcion }}
                </option>
              </ng-container>
            </ng-container>
          </select>
        </div>
      </div>
      <div>
        <label class="block text-xs xl:text-sm 3xl:text-lg font-medium leading-6 pl-3 text-sky500 ring-sky500 focus:ring-sky500">
          Soporte
        </label>
        <div class="relative mt-1 rounded-md shadow-sm">
          <select fieldName="id_soporte" formControlName="id_soporte"
            class="block w-full rounded-3xl border-0 py-1.5 pl-4 pr-11 text-xs xl:text-sm 3xl:text-lg sm:leading-6 text-neutral700 ring-1 ring-inset placeholder:text-neutral400"
          >
            <option *ngIf="defaultValue" selected>{{ defaultValue }}</option>
            <ng-container *ngIf="listSoportes?.length" >
              <ng-container *ngFor="let select of listSoportes">
                <option [value]="select.id_soporte">
                  {{ select.descripcion_soporte }}
                </option>
              </ng-container>
            </ng-container>
          </select>
        </div>
      </div>
      <div>
        <label class="block text-xs xl:text-sm 3xl:text-lg font-medium leading-6 pl-3 text-sky500 ring-sky500 focus:ring-sky500">
          Requerimiento
        </label>
        <div class="relative mt-1 rounded-md shadow-sm">
          <select fieldName="id_requerimiento" formControlName="id_requerimiento"
            class="block w-full rounded-3xl border-0 py-1.5 pl-4 pr-11 text-xs xl:text-sm 3xl:text-lg sm:leading-6 text-neutral700 ring-1 ring-inset placeholder:text-neutral400"
          >
            <option *ngIf="defaultValue" selected>{{ defaultValue }}</option>
            <ng-container *ngIf="listRequerimientos?.length" >
              <ng-container *ngFor="let select of listRequerimientos">
                <option [value]="select.id_requerimiento">
                  {{ select.descripcion_requerimiento }}
                </option>
              </ng-container>
            </ng-container>
          </select>
        </div>
      </div>
    </form>

    <hr class="w-full mt-12 md:mt-4 mb-3 border-2 border-transparent border-b-neutral500">

    <div class="flex justify-center gap-x-4 mt-5 md:mt-2 items-end animate-fade-down">
      <app-buttons [typeBtn]="'submit'" [color]="'sky'" [width]="'32'" [height]="'8'" [button]="2"
        label="Cancelar" (click)="back()" ></app-buttons>
      <app-buttons [typeBtn]="'submit'" [color]="'primary'" [width]="'32'" [height]="'8'" [button]="2"
        [label]="isEdit ? 'Actualizar' : 'Crear'" (click)="updateOrCreateOrden()"></app-buttons>
    </div>
    <app-footer/>
  </div>
</div>

<app-go-up [elementToTop]="content"/>

